snippet html "empty html page"
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf8">
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>${1}</title>
	<link rel="stylesheet" href="${2}.css">
  </head>
  <body>
	${3}
  </body>
</html>
endsnippet
snippet rel "link css file"
<link rel="stylesheet" href="${1}">
endsnippet
